*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Helvetica;
    font-size: 62.5%;
}
body{
    background-color: #fff;
}
.main{
    width: 700px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 0, 0, 0.145); */
}
.main__timer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.timer__timer-box{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: black solid 3px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}
.control-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.button{
    border: 0;
    outline: none;
    width: 120px;
    height: 40px;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
}

@media(max-width: 800px){
    .main{
        width: 300px;
    }
    .timer__timer-box{
        width: 290px;
        height: 290px;
    }
    .text{
        font-size: 3rem;
    }
    .control-box{
        gap: 10px;
    }
    .button{
        width: 90px;
    }
}
